// Overwrites any variables set in the Foundation settings scss file

// HOME PAGE
#hero {
  background: url('../images/students_donating.jpg') no-repeat center center;
  background-size: cover;
  height: 50vh;
  filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
  }

#hero-copy {
  padding: 3rem;
  position: relative;
  top: 50%;
  transform: translateY(5%);
}
  h1 {
    color: #fff;
    font-size: 2rem;
    line-height: 1.5em;
    letter-spacing: -0.025em;
    font-weight: 300;
    text-align: center;
  }
  p {
    color: #fff;
    line-height: 1.75em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem;
  }

