@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

// GLOBAL STYLES
.contain-to-grid {
  background:$blue;
  .top-bar {
    background:$blue;
  }
}

footer {
  background-color: $primary-color;
  color: $topbar-link-color;
}
  a {
    color: $topbar-link-color;
  }
  a:hover {
    color: $yellow-light;
  }


// HOME PAGE STYLES
.row-background {
  background-color: $gray;
  background-size: cover;
}

#hero {
  background: url('../images/students_donating.jpg') no-repeat center center;
  background-size: cover;
  height: 50vh;
  filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
    -ms-filter: grayscale(1);
  }

#hero-copy {
  background-color: $blue-dark;
  opacity: 80%;
  position: relative;
  top: 75%;
  transform: translateY(-7%);
}
  h1 {
    color: $white;
    text-align: center;
  }
  p {
    color: $white;
    line-height: 1.75em;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem;
  }